body {
    background-color: #d6c7b9;
    font-family: Arial, sans-serif;
    margin: 40px;
    padding: 0;
}

header {
    padding: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.pelaaja_container {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.dice_control {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.dice_control button {
    margin: 5px;
    padding: 15px 20px;
}

.pelaaja_container button {
    margin: 10px;
    padding: 5px 20px;
}

.pelaaja_container input {
    height: 30px;
}

.pelaaja_container img {
    width: 100px;
    height: auto;
    margin-bottom: 1rem;
}

.nopat {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.nopat img {
    width: 100px;
    height: auto;
    margin: 0 10px;
}

h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;

}

p {
    font-size: 1.5rem;
    color: #000000;
    margin-bottom: 1rem;
}

ol {
    font-size: 1.1rem;
    color: #000000;
    margin-bottom: 0.5rem;
    text-align: left;
    list-style-type: decimal;
}

.ol2 {
    font-size: 1.1rem;
    color: #000000;
    margin-bottom: 0.5rem;
    list-style-type: none;
    text-align: center;
}

.choice {
    font-size: 1.1rem;
    color: #000000;
    margin-bottom: 0.5rem;
    list-style-type: none;
}

.valikko {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 0.5rem;
    list-style-type: none;
    text-align: center;
}

.pelaaja {
    margin-bottom: 20px;
    text-align: center;
}

.pelaaja i {
    font-size: 24px;
    color: #333;
    display: block;
    margin-bottom: 10px;
}


#pelaajat {
    display: flex; 
    justify-content: center;
}

#pelaajat img {
    width: 30px;
    height: auto;
    margin-bottom: 1rem;
}

#pelaajat > div {
    flex: 0 1 150px; 
    margin: 10px;
    text-align: center; 
}

button {
    background-color: #8b683a;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
    color: #e6e0da;
    padding: 20px 20px;
}

button:hover {
    background-color: #6b756b;
}

img {
    width: 10%;
    height: auto;
    margin-bottom: 1rem;
}
